{{- if .Values.route.enabled }}
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ .Release.Name }}-api
spec:
  to:
    kind: Service
    name: {{ .Release.Name }}-api
  port:
    targetPort: http
  tls:
    termination: edge
{{- end }}
