apiVersion: apps/v1
kind: Deployment
metadata:
  name: readinglist-api
  namespace: matheus515-dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: readinglist-api
  template:
    metadata:
      labels:
        app: readinglist-api
    spec:
      containers:
        - name: api
          image: docker.io/matheus515/readinglist:b091b9dbc70ed9fcc6bcd97e835b1898d2ca907e
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: readinglist-config
            - secretRef:
                name: readinglist-secret
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

