apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: matheus515-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: image-registry.openshift-image-registry.svc:5000/openshift/postgresql:13-el8
          env:
            - name: POSTGRESQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: readinglist-config
                  key: DB_NAME
            - name: POSTGRESQL_USER
              valueFrom:
                configMapKeyRef:
                  name: readinglist-config
                  key: DB_USER
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: readinglist-secret
                  key: DB_PASSWORD
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: data
              mountPath: /var/lib/pgsql/data
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "512Mi"

      volumes:
        - name: data
          emptyDir: {}
