apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: matheus515-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: bitnami/postgresql:sha256-74db3d575a9c104f7d73e214edccbb9c0754be908c8cecd31562ac7b945ae248
          env:
            - name: POSTGRESQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: readinglist-config
                  key: DB_NAME
            - name: POSTGRESQL_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: readinglist-config
                  key: DB_USER
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: readinglist-secret
                  key: DB_PASSWORD
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: data
              mountPath: /bitnami/postgresql
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: postgres-pvc
